OPENROUTER_API_KEY= 
OPENROUTER_MODEL=arcee-ai/trinity-large-preview:free
OPENROUTER_URL=https://openrouter.ai/api/v1/chat/completions

ELEVEN_API_KEY=
ELEVEN_VOICE_ID=JBFqnCBsd6RMkjVDRZzb

SERPAPI_API_KEY=
VOSK_MODEL_PATH=models/vosk-model-small-en-us-0.15

JARVIS_ALLOW_AUTOMATION=0
